@page
@model WebApp.Pages.Account.AuthenticatorWithMFASetupModel
@{
}

<h3>Step 1:</h3>
<p>
    Please scan the QR Code or enter the key to your authenticator app:
</p>
<p>    
    @if (Model.ViewModel.QRCodeBytes != null)
    {
        <img src="@string.Format("data:image/png;base64,{0}",
            Convert.ToBase64String(Model.ViewModel.QRCodeBytes))"
                 width="300"
                 height="300" />
    }    
</p>
<br />
<p>
    @Model.ViewModel.Key
</p>
<br/>
<h3>Step 2:</h3>
<p>
    Please enter the code from your authenticator app:
</p>
<form method="post">   
    @if (Model.Succeeded)
    {
        <div class="alert alert-success">
            The authenticator is successfully setup.
        </div>
    }
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="ViewModel.SecurityCode"></label>
        </div>
        <div class="col">
            <input type="text" asp-for="ViewModel.SecurityCode" class="form-control" autocomplete="off" />
        </div>
        <span class="text-danger" asp-validation-for="ViewModel.SecurityCode"></span>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="Verify" />
        </div>
        <div class="col"> 
            <input type="hidden" asp-for="ViewModel.Key" />
            <input type="hidden" asp-for="ViewModel.QRCodeBytes" />
        </div>
    </div>
</form>