@page
@model WebApp_UnderTheHood.Pages.Account.LoginModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="Credential.UserName"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Credential.UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="Credential.UserName"></span>
            </div>            
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <label asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Credential.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Credential.Password"></span>
            </div>            
        </div>
        <div class="mb-3 row form-check">
            <div class="col-2">
                <input type="checkbox" class="form-check-input" asp-for="Credential.RememberMe" />
                <label class="form-check-label" asp-for="Credential.RememberMe"></label>
            </div>
            <div class="col-5">
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-5">                
            </div>
        </div>
    </form>
</div>